.container {

    background-color:white;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
}

.container > p {

    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;

}