.container {

    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255,255, 0.7);
    border-bottom: 2px grey solid;

    
}

.container > ul {

    list-style: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container > ul > li {

    display: inline;
    padding-right: 40px;
    font-size: 15pt;
    color:black;
}