.container {

    width: 20vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;
}

.container > p {

    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    
}

.container > h2 {

    border-bottom: grey 2px solid;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Quicksand";
    font-weight: 400;
    color: black;
}

.container > img {

    width: 100%;
    border-radius: 10px 10px 0px 0px;
}


.container > button {

    background-color: white;
    font-family: "Quicksand";
    font-size: 12pt;
    border: none;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    float:right;
}
